In [6]:
import pandas as pd

In [10]:
df = pd.read_csv("../app/data/raw/product_metadata.csv")

In [3]:
df.head(10)

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry
5,6,Dry Nose Oil,11,11,cold flu allergy,personal care
6,7,Pure Coconut Water With Orange,98,7,juice nectars,beverages
7,8,Cut Russet Potatoes Steam N' Mash,116,1,frozen produce,frozen
8,9,Light Strawberry Blueberry Yogurt,120,16,yogurt,dairy eggs
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,water seltzer sparkling water,beverages

In [ ]:
# update_df = df[~df['department'].isin([''])]
# result = df[~df['category'].isin(['a', 'b', 'c', 'd'])]

## Department

#### Number of Departments

In [5]:
dept_count = df['department_id'].nunique()
dept_count

21

In [8]:
dept_list = df['department'].unique().tolist()
dept_list

KeyError: 'department'

In [19]:
dept_product_counts = df.groupby('department')['product_id'].count().reset_index()
dept_product_counts

         department  product_id
0           alcohol        1054
1            babies        1081
2            bakery        1516
3         beverages        4365
4         breakfast        1115
5              bulk          38
6      canned goods        2092
7        dairy eggs        3449
8              deli        1322
9   dry goods pasta        1858
10           frozen        4007
11        household        3085
12    international        1139
13     meat seafood         907
14          missing        1258
15            other         548
16           pantry        5371
17    personal care        6563
18             pets         972
19          produce        1684
20           snacks        6264

In [13]:
total_products = df.shape[0]
total_products

49688

In [20]:
dept_product_counts['percentage'] = (dept_product_counts['product_id']/total_products)*100
dept_product_counts

         department  product_id  percentage
0           alcohol        1054    2.121237
1            babies        1081    2.175576
2            bakery        1516    3.051038
3         beverages        4365    8.784817
4         breakfast        1115    2.244003
5              bulk          38    0.076477
6      canned goods        2092    4.210272
7        dairy eggs        3449    6.941314
8              deli        1322    2.660602
9   dry goods pasta        1858    3.739333
10           frozen        4007    8.064321
11        household        3085    6.208743
12    international        1139    2.292304
13     meat seafood         907    1.825390
14          missing        1258    2.531798
15            other         548    1.102882
16           pantry        5371   10.809451
17    personal care        6563   13.208421
18             pets         972    1.956207
19          produce        1684    3.389148
20           snacks        6264   12.606666

## Aisle

#### Number of aisles

In [21]:
aisle_count = df['aisle_id'].nunique()
aisle_count

134

In [23]:
aisle_list = df['aisle'].unique().tolist()
aisle_list

['cookies cakes',
 'spices seasonings',
 'tea',
 'frozen meals',
 'marinades meat preparation',
 'cold flu allergy',
 'juice nectars',
 'frozen produce',
 'yogurt',
 'water seltzer sparkling water',
 'refrigerated',
 'frozen dessert',
 'dish detergents',
 'diapers wipes',
 'ice cream toppings',
 'poultry counter',
 'frozen pizza',
 'grains rice dried goods',
 'dog food care',
 'oral hygiene',
 'packaged poultry',
 'vitamins supplements',
 'energy granola bars',
 'cat food care',
 'body lotions soap',
 'cereal',
 'canned jarred vegetables',
 'packaged vegetables fruits',
 'chips pretzels',
 'dry pasta',
 'hot dogs bacon sausage',
 'soup broth bouillon',
 'missing',
 'energy sports drinks',
 'crackers',
 'fresh vegetables',
 'frozen breads doughs',
 'asian foods',
 'more household',
 'tofu meat alternatives',
 'doughs gelatins bake mixes',
 'hair care',
 'specialty wines champagnes',
 'popcorn jerky',
 'plates bowls cups flatware',
 'tortillas flat bread',
 'fruit vegetable snacks',
 'pasta sauce',
 'lunch meat',
 'baby food formula',
 'salad dressing toppings',
 'spreads',
 'hot cereal pancake mixes',
 'coffee',
 'soft drinks',
 'protein meal replacements',
 'fresh pasta',
 'canned meat seafood',
 'oils vinegars',
 'packaged meat',
 'other',
 'baking supplies decor',
 'specialty cheeses',
 'bread',
 'kitchen supplies',
 'preserved dips spreads',
 'prepared meals',
 'laundry',
 'digestion',
 'breakfast bakery',
 'frozen meat seafood',
 'white wines',
 'packaged cheese',
 'honeys syrups nectars',
 'candy chocolate',
 'first aid',
 'instant foods',
 'other creams cheeses',
 'ice cream ice',
 'skin care',
 'soy lactosefree',
 'fresh fruits',
 'fresh dips tapenades',
 'beauty',
 'soap',
 'frozen appetizers sides',
 'mint gum',
 'fresh herbs',
 'frozen breakfast',
 'baking ingredients',
 'facial care',
 'meat counter',
 'frozen vegan vegetarian',
 'canned meals beans',
 'feminine care',
 'kosher foods',
 'prepared soups salads',
 'bakery desserts',
 'baby accessories',
 'cleaning products',
 'spirits',
 'nuts seeds dried fruit',
 'condiments',
 'pickled goods olives',
 'food storage',
 'eye ear care',
 'deodorants',
 'air fresheners candles',
 'milk',
 'latino foods',
 'beers coolers',
 'cocoa drink mixes',
 'breakfast bars pastries',
 'muscles joints pain relief',
 'cream',
 'red wines',
 'bulk grains rice dried goods',
 'buns rolls',
 'trail mix snack mix',
 'granola',
 'packaged seafood',
 'shave needs',
 'butter',
 'paper goods',
 'baby bath body care',
 'trash bags liners',
 'canned fruit applesauce',
 'bulk dried fruits vegetables',
 'seafood counter',
 'refrigerated pudding desserts',
 'frozen juice',
 'eggs',
 'packaged produce',
 'indian foods']

In [24]:
aisle_product_counts = df.groupby('aisle')['product_id'].count().reset_index()
aisle_product_counts

                             aisle  product_id
0           air fresheners candles         355
1                      asian foods         605
2                 baby accessories          44
3              baby bath body care         132
4                baby food formula         718
..                             ...         ...
129              trash bags liners         112
130           vitamins supplements        1038
131  water seltzer sparkling water         344
132                    white wines         147
133                         yogurt        1026

[134 rows x 2 columns]

In [25]:
aisle_product_counts['percentage'] = (aisle_product_counts['product_id']/total_products)*100
aisle_product_counts

                             aisle  product_id  percentage
0           air fresheners candles         355    0.714458
1                      asian foods         605    1.217598
2                 baby accessories          44    0.088553
3              baby bath body care         132    0.265658
4                baby food formula         718    1.445017
..                             ...         ...         ...
129              trash bags liners         112    0.225407
130           vitamins supplements        1038    2.089036
131  water seltzer sparkling water         344    0.692320
132                    white wines         147    0.295846
133                         yogurt        1026    2.064885

[134 rows x 3 columns]