In [1]:
import pandas as pd

## Load Data

In [2]:
product_df = pd.read_csv("../data/raw/products.csv")
product_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [3]:
aisle_df = pd.read_csv("../data/raw/aisles.csv")
aisle_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [4]:
department_df = pd.read_csv("../data/raw/departments.csv")
department_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

#### Merged data

In [5]:
merged_df = pd.merge(product_df, aisle_df, on='aisle_id', how='left')
merged_df.head()

,product_id,product_name,aisle_id,department_id,aisle
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes
1,2,All-Seasons Salt,104,13,spices seasonings
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation

In [6]:
merged_df = pd.merge(merged_df, department_df, on='department_id', how='left')
merged_df.head()

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,2,All-Seasons Salt,104,13,spices seasonings,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,tea,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,frozen meals,frozen
4,5,Green Chile Anytime Sauce,5,13,marinades meat preparation,pantry

In [10]:
merged_df.to_csv("../data/raw/product_metadata.csv", index=False)

#### Descriptive Analysis

In [7]:
num_rows = merged_df.shape[0]
print(f'Number of rows: {num_rows}')

Number of rows: 49688